---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps/hound-jason/addons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e823238d-2a1a-4393-aaf0-452b58bcc560
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Expansion:
      - addon_service, plan
      Content-Range:
      - name papertrail-corrugated-6430..scheduler-shapely-7160
      Content-Type:
      - application/json
      Etag:
      - '"a1fa02399ced8da18842b34e766446a3"'
      Last-Modified:
      - Mon, 12 Oct 2015 16:38:19 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4499'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"config_vars":["PAPERTRAIL_API_TOKEN"],"created_at":"2015-10-12T16:38:10Z","id":"0500dbce-d01f-41a8-a2b9-22a458733850","name":"papertrail-corrugated-6430","addon_service":{"id":"f6f28cb5-78ad-4ec7-896d-16462b8202fd","name":"papertrail"},"plan":{"id":"75e5e5d9-e71c-4693-818f-db1de34d761b","name":"papertrail:choklad"},"app":{"id":"7407d628-284d-4b19-ba37-0da978713a5c","name":"hound-jason"},"provider_id":"130987323","updated_at":"2015-10-12T16:38:13Z","web_url":"https://addons-sso.heroku.com/apps/hound-jason/addons/0500dbce-d01f-41a8-a2b9-22a458733850"},{"config_vars":["DATABASE_URL"],"created_at":"2015-10-12T16:38:08Z","id":"9dbb3ecd-46b7-44f0-8cff-31185a66d9a1","name":"postgresql-closed-6289","addon_service":{"id":"6c67493d-8fc2-4cd4-9161-4f1ec11cbe69","name":"heroku-postgresql"},"plan":{"id":"062a1cc7-f79f-404c-9f91-135f70175577","name":"heroku-postgresql:hobby-dev"},"app":{"id":"7407d628-284d-4b19-ba37-0da978713a5c","name":"hound-jason"},"provider_[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/hound-jason/addons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e823238d-2a1a-4393-aaf0-452b58bcc560
      If-None-Match:
      - '"a1fa02399ced8da18842b34e766446a3"'
  response:
    status:
      code: 304
      message: ''
    headers:
      Etag:
      - '"a1fa02399ced8da18842b34e766446a3"'
      Last-Modified:
      - Mon, 12 Oct 2015 16:38:19 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4498'
      Status:
      - 304 Not Modified
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 22 Oct 2015 12:43:53 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/hound-jason/addons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e823238d-2a1a-4393-aaf0-452b58bcc560
      If-None-Match:
      - '"a1fa02399ced8da18842b34e766446a3"'
  response:
    status:
      code: 304
      message: ''
    headers:
      Etag:
      - '"a1fa02399ced8da18842b34e766446a3"'
      Last-Modified:
      - Mon, 12 Oct 2015 16:38:19 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4499'
      Status:
      - 304 Not Modified
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 22 Oct 2015 13:12:26 GMT
recorded_with: VCR 2.9.3
