---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e823238d-2a1a-4393-aaf0-452b58bcc560
      If-None-Match:
      - '"c58f0a27314b98665182ed72d00e34f6"'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Range:
      - name foxinsight-clinical-trial..test-project-testing
      Content-Type:
      - application/json
      Etag:
      - '"db868aadd3173ab090686c6c1112646f"'
      Last-Modified:
      - Mon, 19 Oct 2015 16:31:43 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4499'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"archived_at":null,"buildpack_provided_description":"Multipack","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-09-10T14:19:32Z","id":"add5e7e4-271e-47d9-b535-d873b6c7c465","git_url":"git@heroku.com:foxinsight-clinical-trial.git","maintenance":false,"name":"foxinsight-clinical-trial","owner":{"email":"info@mondorobot.com","id":"c14fcb48-ddcb-46ad-a79a-54433ee47fe3"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-10-08T17:41:54Z","repo_size":2392369,"slug_size":66057381,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-10-15T21:13:34Z","web_url":"https://foxinsight-clinical-trial.herokuapp.com/","process_tier":"production"},{"archived_at":null,"buildpack_provided_description":"Multipack","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-08-11T15:08:26Z","id":"40861ccd-6300-4b5a-a448-daffa12520e1","git_url":"git@heroku.com:foxinsight-clinical-trial-dev.git","maintenance":false,"name":"foxinsight-clinical-trial-dev","owner":{"email":"info@mondorobot.com","id":"c14fcb48-ddcb-46ad-a79a-54433ee47fe3"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name[...]
- request:
    method: post
    uri: https://api.heroku.com/apps
    body:
      encoding: UTF-8
      string: '{"name":"testing-foo-bar","region":"us","stack":"cedar-14"}'
    headers:
      Authorization:
      - Bearer e823238d-2a1a-4393-aaf0-452b58bcc560
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
      Location:
      - https://testing-foo-bar.herokuapp.com/
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - create-apps global write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4498'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":null,"build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-10-19T16:33:18Z","id":"89113eb7-d45d-4bfa-becb-a8a85d9f566f","git_url":"git@heroku.com:testing-foo-bar.git","maintenance":false,"name":"testing-foo-bar","owner":{"email":"jvanderhoof@gmail.com","id":"12a25a2d-d494-4aa2-8ce6-55e505da593e"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-10-19T16:33:18Z","repo_size":null,"slug_size":null,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-10-19T16:33:18Z","web_url":"https://testing-foo-bar.herokuapp.com/","process_tier":"free"}'
  recorded_at: Mon, 19 Oct 2015 16:33:17 GMT
recorded_with: VCR 2.9.3
