---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps/hound-jason/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e823238d-2a1a-4393-aaf0-452b58bcc560
      If-None-Match:
      - '"a0b8bf08c9f23d518b39a8bb3c032172"'
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"6df6f72931ef5225491954e5c746b508"'
      Last-Modified:
      - Thu, 22 Oct 2015 12:55:40 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4499'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"7407d628-284d-4b19-ba37-0da978713a5c","name":"hound-jason"},"command":"env
        QUEUE=high,medium,low bundle exec rake resque:work","created_at":"2015-10-12T16:38:09Z","id":"94e0ae0a-d002-4510-80cb-70c181ecd0fa","type":"worker","quantity":1,"size":"Free","updated_at":"2015-10-12T17:13:54Z"},{"app":{"id":"7407d628-284d-4b19-ba37-0da978713a5c","name":"hound-jason"},"command":"bundle
        exec puma -C config/puma.rb","created_at":"2015-10-12T16:38:09Z","id":"8d769e62-13ef-45b7-b312-910a23aae891","type":"web","quantity":1,"size":"Free","updated_at":"2015-10-12T16:38:09Z"},{"app":{"id":"7407d628-284d-4b19-ba37-0da978713a5c","name":"hound-jason"},"command":"bin/rails
        console","created_at":"2015-10-12T16:38:09Z","id":"e84fc0ce-5fa3-4df5-a537-354e13cc6d1b","type":"console","quantity":0,"size":"Free","updated_at":"2015-10-12T16:38:09Z"},{"app":{"id":"7407d628-284d-4b19-ba37-0da978713a5c","name":"hound-jason"},"command":"bundle
        exec rake","created_at":"2015-10-12T16:38:09Z","id":"0dd91296-e99f-411c-8fdc-18bb3c68938a","type":"rake","quantity":0,"size":"Free","updated_at":"2015-10-12T16:38:09Z"}]'
  recorded_at: Thu, 22 Oct 2015 15:06:38 GMT
- request:
    method: patch
    uri: https://api.heroku.com/apps/hound-jason/formation/web
    body:
      encoding: UTF-8
      string: '{"size":"Free","quantity":0}'
    headers:
      Authorization:
      - Bearer e823238d-2a1a-4393-aaf0-452b58bcc560
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"6df6f72931ef5225491954e5c746b508"'
      Last-Modified:
      - Thu, 22 Oct 2015 12:55:40 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4498'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"app":{"id":"7407d628-284d-4b19-ba37-0da978713a5c","name":"hound-jason"},"command":"bundle
        exec puma -C config/puma.rb","created_at":"2015-10-12T16:38:09Z","id":"8d769e62-13ef-45b7-b312-910a23aae891","type":"web","quantity":0,"size":"Free","updated_at":"2015-10-22T15:06:37Z"}'
  recorded_at: Thu, 22 Oct 2015 15:06:39 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/hound-jason/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e823238d-2a1a-4393-aaf0-452b58bcc560
      If-None-Match:
      - '"126d7ea5ce5610fdfa8d3ffc51ab8fec"'
  response:
    status:
      code: 304
      message: ''
    headers:
      Etag:
      - '"126d7ea5ce5610fdfa8d3ffc51ab8fec"'
      Last-Modified:
      - Thu, 22 Oct 2015 15:06:37 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4499'
      Status:
      - 304 Not Modified
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 22 Oct 2015 15:08:58 GMT
recorded_with: VCR 2.9.3
